certifi==2018.4.16  # required for 'facebook-sdk==2.0.0'
chardet==3.0.4  # required for 'facebook-sdk==2.0.0'
defusedxml==0.5.0  # required for 'social-auth-app-django==2.1.0'
Django==2.0.4
facebook-sdk==2.0.0  # require: certifi-2018.4.16 chardet-3.0.4 idna-2.6 requests-2.18.4 urllib3-1.22
idna==2.6  # required for 'facebook-sdk==2.0.0'
oauthlib==2.0.7  # required for 'tweepy==3.6.0'
PyJWT==1.6.1  # required for 'social-auth-app-django==2.1.0'
PySocks==1.6.8  # required for 'tweepy==3.6.0'
python-dateutil==2.7.3  # required for: 'from dateutil.parser import parse' function
python3-openid==3.1.0  # required for 'social-auth-app-django==2.1.0'
pytz==2018.4  # required for 'Django'
requests==2.18.4  # required for 'facebook-sdk==2.0.0'
requests-oauthlib==0.8.0  # required for 'tweepy==3.6.0'
six==1.11.0  # required for 'tweepy==3.6.0'
social-auth-app-django==2.1.0  # require: defusedxml, python3-openid, PyJWT, social-auth-core
social-auth-core==1.7.0  # required for 'social-auth-app-django==2.1.0'
tweepy==3.6.0  # require: six, PySocks, oauthlib, requests-oauthlib
urllib3==1.24.2  # required for 'facebook-sdk==2.0.0'
psycopg2==2.7.4  # for connection to PostgreSQL