{% extends 'report_maker/base.html' %}

{% block title %}
    Main page
{% endblock %}

{% block content %}

    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-content" id="div-inside-div">
                <br>
                <div class="modal-header">
                    <h4 class="modal-title" id="text-inside-div" >Main page</h4>
                </div>
                <br><br>
                <div class="modal-body">
                    <p><strong>Description Of Web-Site</strong></p>

                    <p><strong>How everything is arranged here.</strong></p>
                    <p>To make your reports, you must add some copulas in an inset(Connections), and, after that you can to go across in an inset (Reports). 1 copulas = 1 project.<span class="Apple-converted-space">&nbsp;</span></p>
                    <p><strong>Copula.</strong></p>
                    <p>A copula it data for the search of tweets/retweets, posts/reposts for one specific project. A copula consists of Hashtag, Day of week, Type of report, Link to twitter of this project, Number in the spreadsheet for twitter, ID of facebook of this project, Number in the spreadsheet for facebook. In a copula it is possible that you can add twitter + facebook at the same time, and of course you can do it separately for twitter only, or only for facebook.</p>
                    <p>ID for facebook you can get here <a href="https://findmyfbid.com/">https://findmyfbid.com/</a> , where you must specify a link to the facebook project page.</p>
                    <p><strong>Hashtag.</strong></p>
                    <p>Hashtag is compulsory at filling. It use as name of copula. At creation</p>
                    <p><span class="Apple-converted-space">&nbsp;</span>of report, a text file will be named after like a hashtag. Even if the project does not need to create posts, tweets, the hashtag will be used as a landmark.<span class="Apple-converted-space">&nbsp;</span></p>
                    <p>***Fill the field of Hashtag is needed without # , just enter only that after this sign. For example: In the project BAANX is need use Hashtag #BAANXICO, so you must Fill the field of Hashtag like this "BAANXICO"***</p>
                    <p><strong>Day of week.</strong></p>
                    <p>It is a day of sending of report to this project. Specifying one time in a copula the day of sending of report, you do not need to do it each time, when need to hand over a report.<span class="Apple-converted-space">&nbsp;</span></p>
                    <p>For example: you need to hand over a report for "Sunday", so you open inset Reports, choose "Sunday"(date is under this day) and the system automatically generates all reports in which the reporting day is Sunday.</p>
                    <p><strong>Number in the spreadsheet.</strong></p>
                    <p>In some projects there are such requirements to the reports, how to Specify the number in a spreadsheet. Specifying is possible as well as for twitter, and for to the facebook. If you specified a number, so, then, when you create a report, it will be automatically added.</p>
                    <p>This field is not obligatory.</p>
                    <p><strong>Type of report.</strong></p>
                    <p>Usual, Numbered, Full.</p>
                    <p>Full &ndash; when the tweets/retweets/posts/reposts are numbered and their date is set.</p>
                    <p>Example:</p>
                    <p>&nbsp;</p>
                    <p><span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>1 &ndash; 23.06: https://twitter.com/***</p>
                    <p><span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>2 &ndash; 22.06: https://twitter.com/***</p>
                    <p><span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>3 &ndash; 21.06: https://twitter.com/***</p>
                    <p>Numbered &ndash; only numeration of links</p>
                    <ol>
                    <li>1.https://twitter.com/***</li>
                    </ol>
                    <p>Usual &ndash; only links</p>
                    <p><span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>https://twitter.com/***</p>
                    <p>&nbsp;</p>
                    <p><strong>How to choose your own period of date for report</strong></p>
                    <p>If you need to make a report for a copula for another period(exmpl: on 2 weeks), so then select an interval using a tool, that is located a little higher. Click here:<span class="Apple-converted-space">&nbsp;</span></p>
                    <p>IMAGE 1</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>A calendar will be opened for the choice of date.<span class="Apple-converted-space">&nbsp;</span></p>
                    <p><img src="/media/report_maker/">IMAGE 2</p>
                    <p>At such variant reports are formed in general for all projects.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}