{% extends 'report_maker/base.html' %}

{% block title %}
    Main page
{% endblock %}

{% block content %}

    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-content" id="div-inside-div">
                <br>
                <div class="modal-header">
                    <h4 class="modal-title" id="text-inside-div" >Main page</h4>
                </div>
                <br><br>
                <div class="modal-body" id="text-inside-div">
                    Some information
                </div>
            </div>
        </div>
    </div>

{% endblock %}